WABTEC_USERNAME=Sonnys44
WABTEC_PASSWORD=your_password_here

WABTEC_LOGIN_URL=https://wabtec.okta.com/oauth2/aus47wvhd6kZxxwjV357/v1/authorize?&response_type=code&scope=openid%20offline_access&client_id=0oa5qipusfl306yv4357&redirect_uri=https%3A%2F%2Fscc.wabtec.com%2Fcallback&state=/

HEADLESS=false
